@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #e6e7eb;
}

/* ESTILOS GENERALES PARA LOS COMPONENTES */

button[type="submit"]{
  @apply bg-gray-100 py-2 px-4 border border-t-blue-500 text-gray-500
}

.addTask{
  @apply w-full border-none text-xs text-gray-400 font-bold py-2 px-0 cursor-pointer focus:outline-none focus:border-none;
}

.newstate{
  @apply bg-gray-100 py-2 px-2 border border-t-blue-500 rounded-md text-gray-500 w-48;
}

.btn-settings{
  @apply bg-gray-300 py-2 px-4 border border-t-blue-500 text-gray-500 rounded-md
}
