@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #e6e7eb;
}

/* ESTILOS GENERALES PARA LOS COMPONENTES */

button[type="submit"]{
  @apply bg-gray-100 py-2 px-4 border border-t-blue-500 text-gray-500
}

input[type="text"]{
  @apply w-full block rounded-md;
}

.newstate{
  @apply bg-gray-100 py-2 px-4 border border-t-blue-500 text-gray-500
}

.btn-settings{
  @apply bg-gray-300 py-2 px-4 border border-t-blue-500 text-gray-500 rounded-md
}

/* estilos de la Collaborative CArd description */

.editor {
  border-radius: inherit;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.editor:focus {
  outline: none;
}

.editorContainer {
  border: 1px solid gray;
  border-radius: 0.5rem;
  position: relative;
  height: 100%;
}

.placeholder {
  pointer-events: none;
  position: absolute;
  inset: 0;
  opacity: 0.3;
  padding: 0 1em;
}

.editor p {
  margin: 1em 0;
}